* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.card {
    background: #1a1a1a;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.01);
}

#paragraph1 {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 15px;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 12px 0;
    background: #111;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    transition: .2s;
}

input[type="number"]:focus {
    border-color: #5c8aff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    background: #5c8aff; 
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #3c64d1;
}

#characters1, 
#characters2 {
    margin-top: 20px;
    padding: 15px;
    background: #111;
    border-radius: 10px;
    border: 1px solid #333;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    font-size: 15px;
}


.character-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}


@media (max-width: 500px) {
    .card {
        padding: 18px;
    }

    button {
        padding: 12px;
    }
}
